konlpy
lxml
numpy
absl-py==0.7.1
altgraph==0.16.1
aniso8601==7.0.0
asn1crypto==0.24.0
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
audioread==2.1.8
awscli==1.16.174
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
blinker==1.4
boto==2.49.0
boto3==1.9.164
botocore==1.12.164
brotlipy==0.7.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.3.1
cycler==0.10.0
Cython==0.29.12
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
docutils==0.14
entrypoints==0.3
Flask==1.1.1
Flask-RESTful==0.3.7
future==0.17.1
gast==0.2.2
gensim==3.7.3
gevent==1.4.0
google-pasta==0.1.7
googletrans==2.4.0
greenlet==0.4.15
grpcio==1.22.0
h11==0.7.0
h2==3.1.1
h5py==2.9.0
hpack==3.0.0
hyperframe==5.2.0
idna==2.8
importlib-metadata==0.18
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
kaitaistruct==0.8
keepalive==0.5
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
ldap3==2.5.2
lines==0.1.0a0
macholib==1.11
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
mitmproxy==4.0.4
more-itertools==7.1.0
mpmath==1.1.0
multiprocess==0.70.7
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
opencv-python==4.1.0.25
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
passlib==1.7.1
pathlib2==2.3.4
pathos==0.2.3
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.1.0
pluggy==0.12.0
pox==0.2.5
ppft==1.6.4.9
prometheus-client==0.7.0
prompt-toolkit==2.0.9
protobuf==3.9.0
py==1.8.0
pyasn1==0.4.5
PyAudio==0.2.11
PyAutoGUI==0.9.45
pycparser==2.19
pydivert==2.1.0
pygame==1.9.6
PyGetWindow==0.0.6
Pygments==2.4.2
PyInstaller==3.4
pylev==1.3.0
pylzma==0.5.0
PyMsgBox==1.0.7
pyOpenSSL==18.0.0
pyparsing==2.2.2
pyperclip==1.6.5
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.15.2
PyScreeze==0.1.22
pytest==5.0.0
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.1
pywin32==224
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyX==0.15
PyYAML==3.13
pyzmq==18.0.1
requests==2.22.0
rsa==3.4.2
ruamel.yaml==0.15.100
s3transfer==0.2.1
scikit-learn==0.21.2
scipy==1.3.0
selenium==3.141.0
Send2Trash==1.5.0
simple-websocket-server==0.4.0
six==1.12.0
sklearn==0.0
smart-open==1.8.4
sortedcontainers==2.0.5
soupsieve==1.9.2
soylemma==0.1.0
SpeechRecognition==3.8.1
summa==1.2.0
sympy==1.4
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
textrankr==0.3
tornado==5.1.1
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.25.3
urwid==2.0.1
wavio==0.0.4
wcwidth==0.1.7
webencodings==0.5.1
websocket==0.2.1
websocket-client==0.56.0
websocket-server==0.4
websockets==7.0
Werkzeug==0.15.4
widgetsnbextension==3.4.2
win-unicode-console==0.5
win10toast==0.9
WMI==1.4.9
wrappers==0.1.9
wrapt==1.11.2
wsproto==0.11.0
xlwt==1.3.0
yagmail==0.11.220
youtube-dl==2019.6.8
zipp==0.5.1
